<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product Manager</h1>
    <form method="post">
        <input type="text" name="product_name" placeholder="Name" required>
        <input type="number" name="product_price" placeholder="Price" required>
        <input type="text" name="product_category" placeholder="Category" required>
        <button type="submit" >Додати</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>